.bn {
    border-style: none;
    border-width: 0;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.fw7 {
    font-weight: 700;
}

.lh-copy {
    line-height: 1.5;
}

.pa4 {
    padding: 2rem;
}

.mr2 {
    margin-right: .5rem;
}

.mb2 {
    margin-bottom: .5rem;
}
